<div class="card my-4">
  <h5 class="card-header"><%= t "about_me" %></h5>
  <div class="card-body">
    <%= link_to "#", class: "" do %>
      <%= image_tag "viet-nam.jpg", class: "card w-100" %>
    <% end %>
    <p><%= t"about_me_details" %></p>
  </div>
</div>
