<div>
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <% if (OmniAuth::Utils.camelize(provider) == "Facebook") %>
        <%= link_to omniauth_authorize_path(resource_name, provider),
          class: "fb btn", style: "color: white;" do %>
          <i class="fab fa-facebook fa-fw"></i>
        <% end %>
      <% else %>
        <%= link_to omniauth_authorize_path(resource_name, provider),
          class: "google btn", style: "color: white;" do %>
          <i class="fab fa-google fa-fw"></i>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
