<div class="container-fluid">
<!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <div class="row">
        <div>
        <h3><i class="fas fa-table"></i>
         <%= t(".list_topic") %>
        </h3>
        </div>
        <div style="margin-left: 450px;" id="topic_form">
          <%= render "form" %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Topic</th>
              <th>Category</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="topic">
            <%= render "topic" %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
