<div class="container-fluid">
<!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <div class="row">
        <div class="container">
          <%= render "form_edit" %>
        </div>
      </div>
    </div>
  </div>
</div>
