<div class="back-ground-images">
  <div class="container padding-top-login">
    <div class="container-login margin-auto-login card">
      <h1 style="text-align: center">Log in</h1>
      <%= render "form" %>
    </div>
  </div>

</div>

