<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <%= link_to t(".user"), admin_users_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(".category"), admin_categories_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(".topic"), admin_topics_path, class: "nav-link" %>
    </a>
  </li>
  <li class="nav-item">
    <%= link_to t(".post"), admin_posts_path, class: "nav-link" %>
  </li>
</ul>
