<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Create by Tad <a href="https://fb.com/thanhdat128" data-toggle="tooltip" title="FB Thanh Dat">Thanh Dat</a></p>
</footer>
